<h1><%= @entry.title %></h1>

<date><%= @entry.date %></date>
<div><%= @entry.type %></div>

<%= render Item::LocationComponent.new(@entry) %>
<%= render Item::ImagesComponent.new(@entry) %>
<%= render Item::TextComponent.new(@entry) %>